body {
    font-family: 'Droid Sans', sans-serif;
    color: white;
    background: #bb3a2d;
    background: -moz-linear-gradient(45deg, #bb3a2d 0%, #ff5151 100%);
    background: -webkit-linear-gradient(45deg, #bb3a2d 0%,#ff5151 100%);
    background: linear-gradient(45deg, #bb3a2d 0%,#ff5151 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bb3a2d', endColorstr='#ff5151',GradientType=1 );
}

#canvas-holder {
    display: none;
}

#logo-container {
  width: 100%;
  position: absolute;
  min-height: 100%;
  padding: 0;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100000;
  text-align: center;
  background: rgb(2,119,189); /* Old browsers */
  background: -moz-linear-gradient(45deg, rgba(2,119,189,1) 0%, rgba(64,150,238,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(2,119,189,1) 0%,rgba(64,150,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(2,119,189,1) 0%,rgba(64,150,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0277bd', endColorstr='#4096ee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#logo-text {
  font-family: 'Varela Round', sans-serif;
  font-size: 120px;
  display: block;
  margin: 20% auto 0px auto;
}

#loader-text {
    display: block;
    line-height: 50px;
}
#spinner {
    display: inline-block;
    height: 50px;
    width: 50px;
    position: relative;
}
