# Remote-FTP config files
.ftpconfig
.ftpconfig_L
ftpignore

# Admin Files for Updates
admin/

#Offline Only
social/

#TLEs
tle/*
TLEAltNemo.json

#Offline
offline/*
offline/

# James Yoder Email
license/jamesyoderemail.txt

# High Res Images
images/2_earth_16k-bak.jpg
images/6_night_16k-bak.jpg
images/2_earth_16k.jpg
images/6_night_16k.jpg
images/dayearth-43200.jpg
images/dayearth-10800.jpg
images/dayearth-2048.jpg

# Min Versions of JS
js/*.min.js

dev.htm
