node_modules/
node_modules
.gitattributes
src/.htaccess
.notes.js
classfd.tle
.jshintrc
.prettierignore
package-lock.json

src/social
src/social/*

src/textures/*8k*.jpg
src/textures/*10k*.jpg
src/textures/*16k*.jpg
src/textures/*32k*.jpg

src/admin
src/analysis
src/tle/2006*
src/tle/TLE.json.bak
src/tle/mw*
src/tle/retr*
src/tle/trus*
src/tle/TLEAltNemo*
dist

.vscode