.fi-unknown {
    background-image: url(../flags/tbd.png);
}

.fi-nato {
    background-image: url(../flags/nato.png);
}

.fi-esa {
    background-image: url(../flags/esa.png);
}

.fi-iss {
    background-image: url(../flags/iss.png);
}