@media (min-width: 640px) {
  .side-menu-parent {
    min-width: 400px;
    width: 400px;
  }

  #lookanglesmultisite-menu {
    width: 450px;
  }

  #dops-menu {
    width: 400px;
  }

  #menu-satellite-collision,
  #FindSatPlugin-bottom-icon {
    display: inline;
  }

  .sat-info-value {
    width: 65%;
  }

  footer {
    margin-top: -100px;
    position: absolute;
    bottom: 0px;
    height: 120px;
    width: 100%;
  }

  #bottom-icons-container {
    width: 100%;
    height: var(--bottom-menu-height);
  }

  #footer-toggle-wrapper {
    width: 100%;
    z-index: 1;
    position: relative;
  }

  .footer-slide-down {
    bottom: -115px !important;
    height: 120px !important;
    top: auto !important;
  }

  .footer-slide-trans {
    transition: transform var(--kt-duration-slow, 300ms) var(--kt-easing-default, cubic-bezier(0.4, 0, 0.2, 1));
  }

  .footer-slide-up {
    bottom: 0px !important;
    top: auto !important;
  }

  .ui-timepicker-div dl dd div {
    width: 150px !important;
  }

  #datetime-text {
    border-left: 5px solid var(--color-dark-border);
    padding: 0px 10px 0px 10px;
    vertical-align: bottom;
  }

  #jday {
    display: block;
  }

  #toast-container {
    min-width: 0px;
    right: 5%;
  }

  .sat-infobox-links {
    display: block;
    justify-content: flex-start;
    text-align: unset;
  }

  #polar-plot {
    width: 95%;
  }

  #sensor-timeline-sensor-list,
  #multi-sensor-look-angles-sensor-list {
    display: grid;
    justify-content: space-evenly;
    justify-items: stretch;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
  }
}