@media (min-width: 640px) {
  .side-menu-parent {
    width: 280px;
    min-width: 265px;
  }

  #lookanglesmultisite-menu {
    width: 450px;
  }

  #dops-menu {
    width: 400px;
  }

  #menu-satellite-collision,
  #FindSatPlugin-bottom-icon {
    display: inline;
  }

  .sat-info-value {
    width: 65%;
  }

  footer {
    margin-top: -100px;
    position: absolute;
    bottom: 0px;
    height: 120px;
    width: 100%;
  }

  #bottom-icons-container {
    width: 100%;
    height: var(--bottom-menu-height);
  }

  #footer-toggle-wrapper {
    width: 100%;
    /* bottom: 120px; */
    z-index: 1;
    position: relative;
  }

  .footer-slide-down {
    bottom: -115px !important;
    height: 120px !important;
    top: auto !important;
  }

  .footer-slide-trans {
    transition: 1s;
  }

  .footer-slide-up {
    bottom: 0px !important;
    top: auto !important;
  }

  .ui-timepicker-div dl dd div {
    width: 150px !important;
  }

  #datetime-text {
    border-width: 0px 0px 0px 1px;
    border-style: solid;
    border-color: var(--color-dark-text-accent);
    padding: 0px 10px 0px 10px;
    vertical-align: bottom;
  }

  #jday {
    display: block;
  }

  #toast-container {
    min-width: 0px;
    right: 5%;
  }

  .sat-infobox-links {
    display: block;
    justify-content: flex-start;
    text-align: unset;
  }

  #sat-infobox {
    bottom: var(--bottom-menu-height);
    width: 70%;
    max-width: 380px;
    right: 0px;
  }

  #polar-plot {
    width: 95%;
  }

  #sensor-timeline-sensor-list,
  #multi-site-look-angles-sensor-list {
    display: grid;
    justify-content: space-evenly;
    justify-items: stretch;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
  }
}