@media (min-width: 1024px) and (max-width: 1279px) {
  :root {
    --nav-bar-height: 35px;
  }
}

@media (min-width: 1024px) {
  #sensor-selected-container {
    width: 100%;
    padding: 0px 10px;
    display: block;
  }

  #demo-logo {
    font-size: 5vh;
  }

  #fullscreen-icon {
    display: none;
  }

  #menu-launches,
  #menu-record,
  #menu-color-scheme,
  #social,
  #fastCompSettings {
    display: block;
  }

  .top-menu-icons>a {
    padding: 0px 10px;
  }

  .search-icon-search-on {
    transition: 1s;
  }

  .top-menu-icons img {
    width: 25px;
    height: 25px;
  }

  #search-close {
    padding: 0px 6.25%;
    font-size: 24px;
  }

  .search-hilight {
    font-weight: bold;
    /* color: var(--colorSecondary); */
    /* SATELIOT */
    /* color: #00A7E1; */
    color: #FF6B00;
  }

  /* TODO: Account for the bottom bar being minimized */
  #search-results {
    min-height: 0px !important;
    overflow-x: hidden;
    overflow-y: scroll;
    display: none;
    position: absolute;
    right: 0px;
    width: 355px;
    /* background: var(--colorTertiaryDarken2) !important; */
    z-index: 1;
    /* SATELIOT */
    /* top: var(--top-menu-height); */
    bottom: var(--bottom-menu-top);
    max-height: calc(100% - var(--top-menu-height) - max(var(--bottom-menu-top), var(--search-box-bottom) + var(--bottom-menu-top)) + 3px);
    border-width: 0px 0px 5px 5px;

    /* SATELIOT */
    /* border-style: solid; */
    /* border-color: var(--colorTertiaryDarken3); */

    max-height: 300px;
  }

  .search-result {
    padding: 6px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    /* SATELIOT */
    background-color: rgba(0, 0, 0, 1);
  }

  .search-result:hover {
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }


  .github-share-down {
    transition: 1s;
    top: 50px !important;
  }

  .twitter-share-down {
    transition: 1s;
    top: 100px !important;
  }

  .reddit-share-down {
    transition: 1s;
    border-bottom-right-radius: 10px;
    top: 150px !important;
  }

  .share-icons {
    position: absolute;
    left: 0px;
    z-index: 1;
    width: 50px;
    height: 50px;
    padding: 9px;
    background: var(--colorTertiaryDarken2) !important;
  }

  .share-up {
    transition: 1s;
    top: 0px !important;
  }

  #time-machine-menu {
    padding-left: 35px;
    color: white;
    background: var(--colorTertiaryDarken2);
    top: 50px;
    right: 0px;
    z-index: 100;
    position: absolute;
    overflow: auto;
    width: 100%;
    border-width: 0px 0px 5px 0px;
    border-style: solid;
    border-color: var(--colorTertiaryDarken3);
  }

  #obfit-menu {
    width: 500px;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .search-slide-down {
    width: 334px;
  }

  .search-slide-up {
    width: 0px;
  }

  #legend-hover-menu {
    top: var(--top-menu-height);
    padding: 5px;
  }

  .Square-Box {
    width: 25px;
    height: 25px;
  }

  #sat-infobox {
    /* SATELIOT */
    /* bottom: var(--bottom-menu-height); */
    bottom: 0px;
    margin-top: 25px;
    right: 0px;
    width: 355px;
  }

  .satinfo-fixed:after {
    content: '';
    height: calc(var(--bottom-menu-height) + 15px);
    display: block;
  }

  /* .sat-infobox-fullsize {} */
  .sat-info-value {
    float: right;
    width: 220px;
    padding: 0px 25px;
    text-align: center;
  }

  .truncate-search {
    /* SATELIOT */
    /* width: 200px; */
    width: 150px;
  }
}