@import url('style.common.css');


/* File-specific CSS rules */

.top-menu-icons__blue-img,
.bmenu-item:not(.bmenu-item-disabled, .bmenu-item-selected, .bmenu-item-help) .bmenu-item-inner *,
.bmenu-filter-item:not(.bmenu-item-disabled, .bmenu-item-selected, .bmenu-item-help) .bmenu-filter-item-inner * {
  filter: hue-rotate(163deg) brightness(0.7) saturate(4);
}

.top-menu-icons__blue-img:hover {
  filter: hue-rotate(163deg) brightness(0.85) saturate(4);
}

.top-menu-icons.bmenu-item-selected .bmenu-item-error:hover img {
  filter: invert(52%) sepia(130%) saturate(7323%) hue-rotate(353deg) brightness(120%) contrast(86%);
}

.top-menu-icons__blue-img:active *,
.top-menu-icons.bmenu-item-selected .bmenu-item-error:active *,
.bmenu-item .bmenu-item-inner:active *,
.bmenu-filter-item .bmenu-filter-item-inner:active * {
  scale: 0.9;
}

#colorbox-container {
  background-color: 'white';
  transform: translateX(-200%);
  transition: transform 1s ease-in-out 0s;
  display: block;
  z-index: 100;
  width: 95%;
  height: 95%;
  margin: 0px;
  border-color: var(--color-dark-border);
  border-width: 10px;
  border-style: solid;
  border-radius: 5px;
}

.top-menu-icons {
  padding: 0px;
  height: 100%;
  display: flex;
  align-items: center;
}
